{sys, [
       {lib_dirs, ["../../", "../deps/"]},
       {rel, "rts", "1",
        [
         kernel,
         stdlib,
         sasl,
         rts
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rts"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, rts, [{incl_cond, include}]}
      ]}.

{target_dir, "rts"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/rts", "bin/rts"},
           {template, "files/rts-admin", "bin/rts-admin"}
           ]}.
