{mode, {rate, 1}}.
{concurrent, 1}.
{duration, 1}.
{operations, [{get,1}]}.
{driver, basho_bench_driver_search}.
{code_paths, ["/Users/rzezeski/work/riak/dev/dev1/lib/riak_search-0.14.0/ebin"]}.
{source_dir, "/Users/rzezeski/work/try-try-try/2011/riak-search-inline-fields/src"}.

{search_path, "/Users/rzezeski/work/riak/dev/dev1"}.
{search_index, "tweets"}.
{search_q, "text:earthquake"}.
{search_filter, ""}.
{search_expected, 62805}.
