{mode, {rate, 10}}.
{concurrent, 1}.
{duration, 1}.
{operations, [{search,1}]}.
{driver, basho_bench_driver_riaksearch}.
{source_dir, "/Users/rzezeski/work/riak_search/src"}.

{riaksearch_node, 'bench@127.0.0.1'}.
{riaksearch_remotenodes,
 ['dev1@127.0.0.1', 'dev2@127.0.0.1', 'dev3@127.0.0.1', 'dev2@127.0.0.1']}.
{riaksearch_query,
 ["tweets", "created_at:[20100113T032200 TO 20100113T032500]",
  "text:earthquake"]}.
{riaksearch_expected, 318}.
